body{
    background-color: #000C27;
}

h1{
    text-align: center;
    color: #FFFFFF;
}

.group1{
    display:grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;

}

.box{
    color: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 25px;

}

.box1{
    color: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 25px;

}

.group2{
    display:grid;
    grid-template-columns: 500px 500px 500px;
    padding-left: 340px;
    
}

.box2{
    align-items: center;
    padding: 30px;
    padding-top: 10px;
    height:auto;
    width:50%;
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: #0F1537;
    border-radius: 25px;
    

}
.box2:nth-child(1) h4{
    color: #FFB606;
}
.box2:nth-child(2) h4{
    color: #FFB606;
}
.box2:nth-child(3) h4{
    color: #FFB606;
}

